/* navbar.css */
.navbar {
  position: relative;
}


.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.menu-icon-line {
  position: right;
  width: 100%;
  height: 3px;
  background-color: var(--links-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-icon-line.open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-icon-line.open:nth-child(2) {
  opacity: 0;
}

.menu-icon-line.open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  list-style-type: none;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary); /* Aplica la fuente secundaria */
}

.menu.show {
  display: block;
}

.menu li {
  margin-bottom: 10px;
}


.menu a {
  text-decoration: none;
  color: var(--links-color);
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu li {
    margin-left: 20px;
  }
  
  .menu li:hover {
    transform: scale(1.2); /* Transformación de escala en hover para pantallas más grandes */
  }
}
