
:root {
  --primary-color: #007bff;
  --links-color: #38393a;
  --font-family-primary: 'Muli', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-weight-bold: bold;
}
